*{
    box-sizing: border-box;
    color: #e11212;
  }

body {
    background-color: #87818100;
    background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }